RewriteEngine On

# Allow access to the public directory
RewriteCond %{REQUEST_URI} !^/public/

# Ensure requests for existing files and directories are not rewritten
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything to index.php for FastRoute handling
RewriteRule ^ index.php [QSA,L]

# Ensure proper routing to the public directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1 [L]
